<nav class="sidebar">
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="material-symbols-outlined">view_list</span>
        {{ 'sidebar.home' | transloco }}
      </a>
    </li>
    <li>
      <a routerLink="/tasks" routerLinkActive="active">
        <span class="material-symbols-outlined">check_circle</span>
        {{ 'sidebar.tasks' | transloco }}
      </a>
    </li>
    <li>
      <a routerLink="/calendar" routerLinkActive="active">
        <span class="material-symbols-outlined">calendar_month</span>
        {{ 'sidebar.calendar' | transloco }}
      </a>
    </li>
    <li>
      <a routerLink="/settings" routerLinkActive="active">
        <span class="material-symbols-outlined">settings</span>
        {{ 'sidebar.settings' | transloco }}
      </a>
    </li>
  </ul>
</nav>
