<nav class="sidebar">
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="material-symbols-outlined">view_list</span>
        Principal
      </a>
    </li>
    <li>
      <a routerLink="/tasks" routerLinkActive="active">
        <span class="material-symbols-outlined">check_circle</span>
        Todas las tareas
      </a>
    </li>
    <li>
      <a routerLink="/calendar" routerLinkActive="active">
        <span class="material-symbols-outlined">calendar_month</span>
        Calendario
      </a>
    </li>
  </ul>
</nav>
